<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar carta</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <style>
        .btn-enviar {
            background-color: #635f5a;
            color: #fff;
            border: none;

            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-enviar:hover {
            background-color: #ccae8c;
        }

        .btn-enviar:focus {
            background-color: #ccae8c;
            color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" style="margin-left: 21px;"><img src="img/logo.png" width="100px"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="listCard.html" style="font-size: 20px;">Listado de
                        cartas</a>
                    <a class="nav-item nav-link " href="listNoticias.html" style="font-size: 20px;">Listado de
                        noticias</a>
                </div>
            </div>
    </header>
    <section class="container">
        <br>
        <form method="post" action="http://localhost:8000/updateCard/{{resultados.getId}}">
            <h2>Actualizar carta {{resultados.getNombre}}</h2>
            <div class="row gy-3">
                <div class="col-md-12">
                    <label for="nameCard" class="form-label">Nombre carta</label>
                    <input type="text" class="form-control" id="nameCard" name="nameCard" aria-describedby="nameCard" placeholder="{{resultados.getNombre}}">
                </div>
            
                <div class="col-xl-6 col-md-12">
                    <label for="habRecurso" class="form-label">Habilidad de recurso</label>
                    <input type="text" class="form-control" id="habRecurso" name="habRecurso" aria-describedby="habRecurso" placeholder="{{resultados.getHabilidadRecurso}}">
                </div>
            
                <div class="col-xl-6 col-md-12">
                    <label for="habBatalla" class="form-label">Habilidad de batalla</label>
                    <input type="text" class="form-control" id="habBatalla" name="habBatalla" aria-describedby="habBatalla" placeholder="{{resultados.getHabilidadBatalla}}">
                </div>
            
                <div class="col-xl-3 col-md-6">
                    <label for="coste" class="form-label">Coste</label>
                    <input type="number" class="form-control" id="coste" name="coste" aria-describedby="coste" placeholder="{{resultados.getCoste}}">
                </div>
            
                <div class="col-xl-3 col-md-6">
                    <label for="estadoCarta" class="form-label">Estado de la carta</label>
                    <input type="text" class="form-control" id="estadoCarta" name="estadoCarta" aria-describedby="estadoCarta" placeholder="{{resultados.getEstadoCarta}}">
                </div>
            
                <div class="col-xl-3 col-md-12">
                    <label for="vida" class="form-label">Vida</label>
                    <input type="text" class="form-control" id="vida" name="vida" aria-describedby="vida" placeholder="{{resultados.getVida}}">
                </div>
            
                <div class="col-xl-3 col-md-12">
                    <label for="rareza" class="form-label">Rareza</label>
                    <input type="text" class="form-control" id="rareza" name="rareza" aria-describedby="rareza" placeholder="{{resultados.getRareza}}">
                </div>
            
                <div class="col-xl-3 col-md-12">
                    <br>
                    <label for="fotoCard">Foto carta</label>
                    <input type="file" class="form-control-file" id="fotoCard">
                </div>
            
                <div class="col-xl-3 col-md-12">
                    <label for="ataque" class="form-label">Ataque</label>
                    <input type="number" class="form-control" id="ataque" name="ataque" aria-describedby="ataque" placeholder="{{resultados.getAtaque}}">
                </div>
                <div class="col-xl-3 col-md-12">
                    <label for="defensa" class="form-label">Defensa</label>
                    <input type="number" class="form-control" id="defensa" name="defensa" aria-describedby="defensa" placeholder="{{resultados.getDefensa}}">
                </div>
                <div class="col-xl-3 col-md-12">
                    <label for="tipo_carta" class="form-label">Tipo de carta</label>
                    <input type="text" class="form-control" id="tipo_carta" name="tipo_carta" aria-describedby="tipo_carta" placeholder="{{resultados.getTipoCarta}}">
                </div>
                <div class="offset-xl-2 col-xl-3 col-md-12">
                    <br>
                    <label for="tipo_carta" class="form-label">Tipo de carta</label>
                    <select name="tipo_carta" id="tipo_carta">
                        <option value="">-- none --</option>
                        <option value="monstruo">Monstruo</option>
                        <option value="hechizo">Hechizo</option>
                        <option value="trampa">trampa</option>
                    </select>
                </div>

                <div class="col-xl-3 col-md-12">
                    <br>
                    <label for="edicion" class="form-label">Edicion</label>
                    <select name="edicion" id="edicion">
                        <option value="">-- none --</option>
                        <option value="primeraEdicicion">Primera edicion</option>
                        
                    </select>
                </div>

                <div class="col-xl-3 col-md-12">
                    <br> 
                    <label for="tipo_carta" class="form-label">Estado de la carta</label>
                    <select name="tipo_carta" id="tipo_carta">
                        <option value="">-- none --</option>
                        <option value="banneada">Vetada</option>
                        <option value="limitada">Limitada</option>
                        <option value="libre">Libre</option>
                    </select>
                </div>
                <div class="col-xl-6 col-md-12">
                    <label for="texto" class="form-label">Texto</label>
                    <textarea class="form-control" id="texto" name="texto" rows="4" aria-describedby="texto">{{resultados.getTexto}}</textarea>
                </div>
                <div class="col-xl-6 col-md-12">
                    <label for="observaciones" class="form-label">Observaciones</label>
                    <textarea class="form-control" id="observaciones" name="observaciones" rows="4" aria-describedby="observaciones">{{resultados.getObservaciones}}</textarea>
                </div>
            </div>
            

            <br>
            <button type="submit" class="btn btn-enviar">Actualizar</button>
        </form>

    </section>

</body>

</html>