/* Reset */
* {
    box-sizing: border-box;
}

/* Font */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Beaufort for LOL Bold", sans-serif;
}

/* Body styles */
body {
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "SpiegelSans Trial";
}

app-root {
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "SpiegelSans Trial";
}

main {
    padding-bottom: 50px;
}

/* Navbar styles */
.navbar {
    background-color: #68838E;
    color: #F9F9F9;
}

.navbar-nav .nav-link {
    color: #f9f9f9 !important;
    margin-left: 15px;
}

.navbar-nav .nav-link:hover {
    color: #e3A25b !important;
}

.navbar-nav {
    font-size: 19px;
    font-weight: 400;
}

/* Footer styles */
footer {
    color: #f9f9f9;
    text-align: center;
    margin-top: auto;
    background-color: #68838E;
    padding: 20px 0;
    width: 100%;
}

.footer-container {
    padding: 4rem 0 0;
}

.social-media-section {
    margin-bottom: 4rem;
}

.btn-floating {
    color: white;
}

/* Links */
a {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    color: #ccae8c;
}

a:hover {
    color: #e3A25b;
}

.link-news {
    color: white !important;
    background-color: #e3A25b;

}
.link-news:focus {
    background-color: #ccae8c;
    border-color: #635f5a;
    color: black;
    box-shadow: 2px 2px 2px 2px #635f5a;
}
.link-news:hover {
    color: white;
    background-color: #ff9f39;

}

/* General spacing */
.separacion {
    padding-bottom: 30px;
}

/* Card styles */
.status-card {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
}

.margin-info-proyectos {
    padding-top: 50px;

    width: 1000px;
    background-color: #838892;
}

.aboutUs {
    padding-top: 60px;
    margin-left: 20%;
}

.proyecto-row {
    padding: 20px;
    margin: 20px;
    min-height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    min-height: auto;
    padding-right: 20px;
    max-height: 400px;
    max-width: 400px;
}

.ver-mas-link {
    margin-top: 13%;
    margin-bottom: 30%;
    padding-right: 5%;
    text-align: right;
}

/* Form styles */
.form {
    padding-top: 50px;
    padding-bottom: 150px;
}

.jumbPr {
    box-shadow: 5px 5px 5px rgb(196, 173, 173);
    width: 70%;
    margin-left: 15%;
}

/* Title styles */
.title {
    background-image: url('assets/images/banner_bg.png');
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

/* Button styles */




/* Offcanvas styles */
.offcanvas-header {
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.offcanvas-start {
    max-width: 200px;
}

.offcanvas-body {
    width: 400px;
}

/* Image styles */
.card-img-top {
    margin-bottom: 15px;
}

.card {
    width: 18rem;
    min-height: 400px;
    margin-left: 55px;
    margin: 20px;
}

.card-container {
    margin-top: -100px;
    margin-bottom: 50px;
}

/* News styles */
.margin-info-news {
    text-align: justify;
    padding-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.link-news {
    color: #0D111A;
}

.ver-mas-link {
    margin-top: 33%;
    margin-bottom: 3%;
    padding-right: 5%;
    text-align: right;
}

/* Detail card styles */
.detail-card-padding {
    margin-top: 50px;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: none;
    border-bottom: 1px solid #d7d7d7;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #68838e23;
}

/* Additional padding */
.paddin-elements {
    margin-top: 40px;
}

.notice-container {

    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.content {
    margin: 20px;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;

}