<main>
    <div class="container detail-card-padding text-center">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="../../../assets/images/gatomewing.jpg" alt="img1" style="width: 350px;">
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <h2>Gato Mewing</h2>
                <h6>El gato legendario</h6>

                <p style="font-size: 13px;">En lo más profundo de los bosques ancestrales, se dice que reside un
                    gato legendario cuyo mewing resuena como un eco fantasmal. Conocido como el Guardián de las
                    Sombras, este felino místico es venerado por los druidas y temido por los intrusos. Su velocidad
                    es legendaria, y se rumorea que es padre de numerosas generaciones de gatos que heredan su
                    astucia y agilidad, agregando un aura de misterio y maravilla a su leyenda.</p>


                <div class="paddin-elements">
                    <h5>{{'detail-info'| translate}}</h5>
                    <table>
                        <tr>
                            <td>{{'detail-stat-1'| translate}}</td>
                            <td>1A</td>
                        </tr>
                        <tr>
                            <td>{{'detail-stat-2'| translate}}</td>
                            <td>Criatura</td>
                        </tr>
                        <tr>
                            <td>{{'detail-stat-3'| translate}}</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>{{'detail-stat-4'| translate}}</td>
                            <td>2 / 5</td>
                        </tr>
                    </table>

                </div>

                <div class="status-card paddin-elements">
                    <div class="w-50 ">
                        <p><b>{{'detail-stat-5'| translate}}</b><br> Incorpora 1 carta de coste 2 del cementerio a tu mano.
                        </p>
                    </div>
                    <div class="w-50 ">
                        <p><b>{{'detail-stat-6'| translate}}</b><br> Incorpora 1 carta de coste 2 del cementerio a tu mano.
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 paddin-elements" style="text-align: center;">

                <h5>Rulings</h5>
                <br>
                <table style="margin: 0 auto;">
                    <thead>
                        <tr>
                            <th>{{'detail-ruling-1'| translate}}</th>
                            <th>{{'detail-ruling-2'| translate}}</th>
                            <th>Fecha {{'detail-ruling-3'| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>19-02-2024</td>
                            <td style="max-width: 800px; text-align: left;">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Ex autem fugiat iste soluta voluptatibus debitis unde perspiciatis
                                officiis impedit omnis enim reiciendis eligendi, optio officia commodi at vitae
                                distinctio fuga.</td>
                            <td>19-02-2025</td>
                        </tr>
                        <tr>
                            <td>25-02-2024</td>
                            <td style="max-width: 800px; text-align: left;">Sed ut perspiciatis unde omnis iste
                                natus
                                error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</td>
                            <td>25-02-2025</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</main>