<main>
    <div class="container detail-card-padding text-center">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="../../../assets/images/gatomewing.jpg" alt="img1" style="width: 350px;">
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <h2>{{card[index].nombre}}</h2>
                <h6>{{card[index].texto}}</h6>

                <div class="paddin-elements">
                    <h5>{{'detail-info'| translate}}</h5>
                    <table>
                        <tr>
                            <td>{{'detail-stat-1'| translate}}</td>
                            <td>{{card[index].coste}}</td>
                        </tr>
                        <tr>
                            <td>{{'detail-stat-2'| translate}}</td>
                            <td>{{card[index].tipo_carta}}</td>
                        </tr>
                        <tr>
                            <td>{{'detail-stat-3'| translate}}</td>
                            <td>{{card[index].puntos_victoria}}</td>
                        </tr>
                        <tr>
                            <td>{{'detail-stat-4'| translate}}</td>
                            <td>{{card[index].ataque}} / {{card[index].defensa}}</td>
                        </tr>
                    </table>

                </div>

                <div class="status-card paddin-elements">
                    <div class="w-50 ">
                        <p><b>{{'detail-stat-5'| translate}}</b><br>
                            {{card[index].habilidad_batalla}}
                        </p>
                    </div>
                    <div class="w-50 ">
                        <p><b>{{'detail-stat-6'| translate}}</b><br>
                            {{card[index].habilidad_recurso}}
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 paddin-elements" style="text-align: center;">

                <h5>Rulings</h5>
                <br>
                <table style="margin: 0 auto;">
                    <thead>
                        <tr>
                            <th>{{'detail-ruling-2'| translate}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="max-width: 800px; text-align: left;">{{card[index].observaciones}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</main>