<main class="notice-container">
    <div class="content">
        
        <img style="align-self: center; display: flex; justify-content: center;" src="../../../assets/images/banner.png" width="700px">
        <br>
        <h1 style="text-align: center;">{{news[index].titulo}}</h1>

        <br>
        
        <p style="text-align: justify;">{{news[index].texto}} </p>

        <p style="text-align: right;">{{news[index].fecha_publicacion.date.split(' ')[0]}}</p>

        <p type="submit" class="btn link-news" routerLink="/news" RouterLinkActive="active">{{'news-detail-return' | translate}}</p>
    

    </div>
</main>