<header class="sticky-sm-top sticky-md-top sticky-lg-top sticky-xl-top">
    <nav class="navbar navbar-expand-lg  navbar-light">
        <a class="navbar-brand" href="#" style="padding-left: 20px;">
            <img src="../../../assets/images/logo.png" width="130px" alt="Logo" style="margin-left: 20px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 20px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" routerLink="/" RouterLinkActive="active">{{'home' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards" routerLink="/cards" RouterLinkActive="active">{{'cards' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game" routerLink="/game" RouterLinkActive="active">{{'game' | translate}}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/news" routerLink="/news" RouterLinkActive="active">{{'news' | translate}}</a>
                </li>

                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" 
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{'lang' | translate}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" (click)="switchLanguage('es')">Castellano</a>
                        <a class="dropdown-item" (click)="switchLanguage('en')">Inglés</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
