<header class="sticky-sm-top sticky-md-top sticky-lg-top sticky-xl-top">
    <nav class="navbar navbar-expand-lg  navbar-light">
        <a class="navbar-brand" href="#" style="padding-left: 20px;">
            <img src="../../../assets/images/logo.png" width="130px" alt="Logo" style="margin-left: 20px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 20px;">
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/es" routerLink="/es" RouterLinkActive="active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/es/cards" routerLink="/es/cards" RouterLinkActive="active">Cartas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/es/game" routerLink="/es/game" RouterLinkActive="active">Jugabilidad</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/es/news" routerLink="/es/news" RouterLinkActive="active">Noticias</a>
                    </li>
    
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Idioma
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="/es" RouterLinkActive="active" (click)="onLanChange('es')">Español</a>
                            <a class="dropdown-item" routerLink="/en" RouterLinkActive="active" (click)="onLanChange('en')">Inglés</a>
                        </div>
                    </li>
            </ul>
        </div>
    </nav>
</header>
