<footer>
    <!-- Grid container -->
    <div class="container p-4 pb-0 footer-container">
        <!-- Section: Social media -->
        <section class="mb-4 social-media-section">
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0D111A;"
                href="index.html" target="_blank" role="button"><i class="fab bi bi-house"></i></a>

            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #e2263c;"
                href="mailto:guildofkaruria@gmail.com" target="_blank" role="button"><i class="fab bi bi-envelope"></i></a>

            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #333333;"
                href="https://github.com/RobertoRedes2001/2DAW24-Equipo1.git"target="_blank"  role="button"><i
                    class="fab fa-github"></i></a>
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd536a;"
                href="https://maps.app.goo.gl/o8Q5bGyKcFF8z3kj9" target="_blank" role="button"><i class="bi bi-geo-fill"></i></a>


            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #25D366;"
                href="https://wa.me/123456789" target="_blank" role="button"><i class="bi bi-whatsapp"></i></a>

        </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #68838E;">
        © {{'footer'|translate}} 2023-2024
    </div>
    <!-- Copyright -->
</footer>