<footer class="bg-body-tertiary">
    <!-- Grid container -->
    <div class="container p-4 pb-0 footer-container">
        <!-- Section: Social media -->
        <section class="mb-4 social-media-section">
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0D111A;"
                href="index.html" role="button"><i class="fab bi bi-house"></i></a>

            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #e2263c;"
                href="mailto:mariamonteagudo06@gmail.com" role="button"><i class="fab bi bi-envelope"></i></a>

            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ED7BAB;"
                href="../images/CV_María_Monteagudo.pdf" download="CV_María_Monteagudo" role="button"><i
                    class="bi bi-stickies"></i></a>
                    
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;"
                href="https://www.linkedin.com/in/mar%C3%ADa-monteagudo-b0261a256/" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #333333;"
                href="https://github.com/mamoro02?tab=repositories" role="button"><i class="fab fa-github"></i></a>

            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #25D366;"
                href="https://wa.me/123456789" role="button"><i class="bi bi-whatsapp"></i></a>

        </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #68838E;">
        © Proyecto Integrado 2023-2024
    </div>
    <!-- Copyright -->
</footer>