<img src="../../assets/images/banner.png" class="img-fluid  col-lg-12" style="height: 500px;" alt="banner español"> 
<main>
    <div class="container">
    <section class="aboutUs">
        
        <div class="col-sm-12 col-md-6 col-lg-10">
            <h2>{{'main-title'| translate}}</h2>
            <hr class="my-4"/>
            <p>
                {{'main-kauria1'| translate}}
            </p>
            <p>
                <b>{{'main-kauriaB1'| translate}}</b>{{'main-kauria2'| translate}}
            </p>
            <p>
                <b>{{'main-kauriaB2'| translate}}</b>{{'main-kauria3'| translate}}
            </p>
            <p>
                <b>{{'main-kauriaB3'| translate}}</b>{{'main-kauria4'| translate}}
            </p>
            <p>
                {{'main-kauria5'| translate}}
            </p>
            <hr class="my-4" />
          </div>
    </section>
    

</div>
</main>