<div class="container form">
    <h2 class="text-center">
        {{'cards-title'| translate}}
    </h2>
    <br />
    <form>
        <div class="row">
            <div class="offset-xl-3 col-xl-5 col-md-6 col-sm-6">
                <input type="name" class="form-control" id="inputName" aria-describedby="nombre"
                    placeholder="{{'cards-advance-ph1'| translate}}" [formControl]="principalInputName" />
            </div>
            <div class="col-xl-4 col-md-12 col-md-6 col-sm-6">
                <p type="submit" class="btn btn-enviar" (click)="firstButtonClicked()">{{'cards-send-btn'| translate}}</p>
            </div>
        </div>
    </form>
    <form>
        <div class="row">
            <div class="offset-xl-5 col-xl-4 col-md-6 col-sm-6">
                <button class="btn btn-enviar gy-3" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    {{'cards-advance-header'| translate}}
                </button>

                <div class="offcanvas offcanvas-end" id="collapseExample" aria-labelledby="collapseExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="collapseExampleLabel">
                            {{'cards-advance-header'| translate}}
                        </h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="separacion">
                            <h6>{{'cards-advance-name'| translate}}</h6>
                            <input type="name" class="form-control" id="inputName" aria-describedby="nombre"
                                placeholder="{{'cards-advance-ph1'| translate}}" [formControl]="secondaryInputName"  />
                        </div>

                        <div class="status-card">
                            <div class="w-50">
                                <h6>{{'cards-advance-edition'| translate}}</h6>
                            </div>
                            <div>
                                <select name="finish" id="finish" (change)="onChangeCardEdition($event)">
                                    <option value="null">-- none --</option>
                                    <option value="primeraEdicicion">{{'cards-advance-firsted'| translate}}</option>
                                    <option value="segundaEdicicion">{{'cards-advance-seconded'| translate}}</option>
                                    <option value="terceraEdicicion">{{'cards-advance-thirded'| translate}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="status-card">
                            <div class="w-50">
                                <h6>{{'cards-advance-status'| translate}}</h6>
                            </div>
                            <div>
                                <select name="finish" id="finish" (change)="onChangeCardStatus($event)">
                                    <option value="banneada">{{'cards-advance-firstst'| translate}}</option>
                                    <option value="limitada">{{'cards-advance-secondst'| translate}}</option>
                                    <option value="libre">{{'cards-advance-thirdst'| translate}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="status-card">
                            <div class="w-50">
                                <h6>{{'cards-advance-type'| translate}}</h6>
                            </div>
                            <div>
                                <select name="finish" id="finish" (change)="onChangeCardType($event)" >
                                    <option value="null">-- none --</option>
                                    <option value="monstruo">{{'cards-advance-firsttp'| translate}}</option>
                                    <option value="hechizo">{{'cards-advance-secondtp'| translate}}</option>
                                    <option value="trampa">{{'cards-advance-thirdtp'| translate}}</option>
                                </select>
                            </div>
                        </div>

                        <div>
                            <div>
                                <h6>{{'cards-advance-stat'| translate}}</h6>
                            </div>
                            <div class="status-card">
                                <div class="select-wrapper">
                                    <select name="finish" id="finish" (change)="onChangeCardStats($event)">
                                        <option value="null">-- none --</option>
                                        <option value="ataque">{{'cards-advance-atk'| translate}}</option>
                                        <option value="defensa">{{'cards-advance-def'| translate}}</option>
                                        <option value="velocidad">{{'cards-advance-spd'| translate}}</option>
                                    </select>
                                </div>
                                <div class="input-wrapper">
                                    <input type="name" class="form-control" id="inputName" aria-describedby="nombre"
                                        placeholder="{{'cards-advance-ph2'| translate}}" [formControl]="amountStats"/>
                                </div>
                            </div>
                        </div>
                        <div class="separacion">
                            <h6>{{'cards-advance-cost'| translate}}</h6>
                            <input type="name" class="form-control" id="inputName" aria-describedby="nombre"
                                placeholder="{{'cards-advance-ph3'| translate}}" [formControl]="amountMana"/>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <p type="submit" class="btn btn-enviar" (click)="buttonFilterClicked()">{{'cards-send-btn'| translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<section>
    <article class="container card-container">
        <div class="row">
            @for (item of items; track item; let i =$index) {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <app-card [title]="title" [img]="img" [littleDescription]="littleDescription">
                        
                    </app-card>
                </div>
            </div>
            }
        </div>
    </article>
</section>