<div class="container form">
    <h2 class="text-center">
        Guilds of Kauria, juego inverso en fantasia mediaval
    </h2>
    <br />
    <form>
        <div class="row">
            <div class="offset-xl-3 col-xl-5 col-md-6 col-sm-6">
                <input type="name" class="form-control" id="inputName" aria-describedby="nombre"
                    placeholder="Introduce el nombre de la carta..." [formControl]="principalInputName" />
            </div>
            <div class="col-xl-4 col-md-12 col-md-6 col-sm-6">
                <p type="submit" class="btn btn-enviar" (click)="firstButtonClicked()">Enviar</p>
            </div>
        </div>
    </form>
    <form>
        <div class="row">
            <div class="offset-xl-5 col-xl-4 col-md-6 col-sm-6">
                <button class="btn btn-enviar gy-3" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Busqueda avanzada
                </button>

                <div class="offcanvas offcanvas-end" id="collapseExample" aria-labelledby="collapseExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="collapseExampleLabel">
                            Búsqueda Avanzada
                        </h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="separacion">
                            <h6>Nombre de la carta</h6>
                            <input type="name" class="form-control" id="inputName" aria-describedby="nombre"
                                placeholder="Introduce el nombre de la carta..." [formControl]="secondaryInputName"  />
                        </div>

                        <div class="status-card">
                            <div class="w-50">
                                <h6>Edición</h6>
                            </div>
                            <div>
                                <select name="finish" id="finish" (change)="onChangeCardEdition($event)">
                                    <option value="">-- none --</option>
                                    <option value="primeraEdicicion">Primera edicion</option>
                                    <option value="segundaEdicicion">Segunda edicion</option>
                                    <option value="terceraEdicicion">Tercera edicion</option>
                                </select>
                            </div>
                        </div>

                        <div class="status-card">
                            <div class="w-50">
                                <h6>Estado de la carta</h6>
                            </div>
                            <div>
                                <select name="finish" id="finish" (change)="onChangeCardStatus($event)">
                                    <option value="banneada">Vetada</option>
                                    <option value="limitada">Limitada</option>
                                    <option value="libre">Libre</option>
                                </select>
                            </div>
                        </div>

                        <div class="status-card">
                            <div class="w-50">
                                <h6>Tipo de carta</h6>
                            </div>
                            <div>
                                <select name="finish" id="finish" (change)="onChangeCardType($event)" >
                                    <option value="">-- none --</option>
                                    <option value="monstruo">Monstruo</option>
                                    <option value="hechizo">Hechizo</option>
                                    <option value="trampa">Trampa</option>
                                </select>
                            </div>
                        </div>

                        <div>
                            <div>
                                <h6>Estadisticas</h6>
                            </div>
                            <div class="status-card">
                                <div class="select-wrapper">
                                    <select name="finish" id="finish" (change)="onChangeCardStats($event)">
                                        <option value="">-- none --</option>
                                        <option value="ataque">Ataque</option>
                                        <option value="defensa">Defensa</option>
                                        <option value="velocidad">Velocidad</option>
                                    </select>
                                </div>
                                <div class="input-wrapper">
                                    <input type="name" class="form-control" id="inputName" aria-describedby="nombre"
                                        placeholder="Introduce tu estadisticas..." [formControl]="amountStats"/>
                                </div>
                            </div>
                        </div>
                        <div class="separacion">
                            <h6>Coste:</h6>
                            <input type="name" class="form-control" id="inputName" aria-describedby="nombre"
                                placeholder="Introduce el coste..." [formControl]="amountMana"/>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <p type="submit" class="btn btn-enviar" (click)="buttonFilterClicked()">Enviar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<section>
    <article class="container card-container">
        <div class="row">
            @for (item of items; track item; let i =$index) {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <app-card [title]="title" [img]="img" [littleDescription]="littleDescription">
                        
                    </app-card>
                </div>
            </div>
            }
        </div>
    </article>
</section>