* {
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

main {
    padding-bottom: 50px;
}

/* Navbar styles */
.navbar {
    background-color: #68838E;
    color: #F9F9F9;
}

.navbar-nav .nav-link {
    color: #f9f9f9 !important;
    margin-left: 15px;
}

.navbar-nav .nav-link:hover {
    color: #e3A25b !important;
}

.navbar-nav {
    font-size: 19px;
    font-weight: 400;
}

footer {
    color: #f9f9f9;
    text-align: center;
    margin-top: auto;
    /* Esto empujará el footer hacia abajo */
    background-color: #68838E;
    /* Color de fondo del footer */
    padding: 20px 0;
    /* Añade un poco de espacio alrededor del contenido del footer */
    width: 100%;
    /* Ocupa todo el ancho disponible */
}

.footer-container {
    padding: 4rem 0 0;
}

.social-media-section {
    margin-bottom: 4rem;
}

.btn-floating {
    color: white;
}

.p-3 {
    background-color: #0D111A;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    color: #ccae8c;
}

a:hover {
    color: #e3A25b;
}

.separacion {
    padding-bottom: 30px;

}

.status-card {
    display: flex;
    padding-bottom: 30px;
}


.margin-info-proyectos {
    padding-top: 110px;
    margin-left: 20%;
    margin-right: 20%;
}

.aboutUs {
    padding-top: 60px;
    margin-left: 20%;

}

.proyecto-row {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    min-height: auto;
    padding-right: 20px;
    max-height: 400px;
    max-width: 400px;
}

.ver-mas-link {
    margin-top: 13%;
    margin-bottom: 3%;
    padding-right: 5%;
    text-align: right;

}

.form {
    padding-top: 200px;
    /* padding-left: 400px; */
    padding-bottom: 200px;
}
.jumbPr{
    box-shadow: 5px 5px 5px rgb(196, 173, 173);
    width: 70%;
    margin-left: 15%;

}
.aa{
    border: 1px solid rgb(179, 166, 166);
}

.btn-enviar {
    background-color: #635f5a;
    color: #FFF;
    border: black solid 2px
}

.btn-enviar:hover {
    background-color: #ccae8c;
    color: #FFF;
    border: #635f5a solid 2px
}
.btn-enviar:focus {
    background-color: #ccae8c;
    border-color: #635f5a;
    color:white;
    box-shadow: 2px 2px 2px 2px #635f5a;
  } 


.offcanvas-header {
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}


.offcanvas-start {
    max-width: 200px;
}

.offcanvas-body {
    width: 400px;
}

.w-50 {
    flex: 1;
    margin-right: 10px;

}

.aboutUs{
    text-align: justify;
}

.card-img-top {
    margin-bottom: 15px;
}

.margin-info-news{
    text-align: justify;
    padding-top: 110px;
    margin-left: 10%;
    margin-right: 10%;
}

.link-news{
    color: #0D111A;
}

.ver-mas-link {
    margin-top: 33%;
    margin-bottom: 3%;
    padding-right: 5%;
    text-align: right;

}